.basement {
  padding: 60px 0;
  background-color: var(--footer-background-color);

  &__container {
    display: flex;
    align-items: baseline;
  }

  &__logo {
    display: inline-block;
    margin-bottom: 20px;
    padding: 0;
    color: var(--white-text-color);
  }

  &__item {
    display: block;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    color: var(--white-text-color);

    transition: fill 250ms var(--time-delay);

    &:not(:last-child) {
      margin-bottom: 9px;
    }
    &:hover,
    &:focus {
      color: var(--accent-text-color);
    }
  }

  &__address-link {
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    color: var(--footer-link-color);

    transition: color 250ms var(--time-delay);

    &:hover,
    &:focus {
      color: var(--accent-text-color);
    }
  }

  &__social {
    margin-left: auto;
  }
  &__title {
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--white-text-color);
  }
  &__list {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  &__icon {
    fill: var(--white-text-color);
  }
  &__link {
    display: flex;
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--cellar-link-background-color);

    transition: background-color 250ms var(--time-delay);
    &:hover,
    &:focus {
      background-color: var(--button-primary-background-color);
    }
  }
  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 12px;
    width: 200px;
    height: 50px;

    &-icon {
      margin-left: 10px;

      fill: var(--white-text-color);
    }
  }

  &__input {
    display: block;
    width: 358px;
    height: 50px;
    padding-left: 15px;

    color: var(--primary-background-color);
    background-color: var(--footer-background-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

    border-radius: 4px;
    &__input::placeholder {
      font-size: 16px;
      line-height: 1.25;
    }
  }
  &__form {
    display: flex;
  }
}
