.header {
  border-bottom: 1px solid var(--border-bottom-header-color);
  &__main {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  &__auth-link {
    display: flex;
    padding: 32px 0;
    align-items: center;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);

    transition: color 250ms var(--time-delay);

    &:hover,
    &:focus {
      color: var(--accent-text-color);
    }
  }
  &__nav-link {
    position: relative;
    display: block;
    padding: 32px 0;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);

    transition: color 250ms var(--time-delay);
    &__nav-link:hover,
    &__nav-link:focus {
      color: var(--accent-text-color);
    }
  }
  &__nav {
    margin-left: 93px;
  }

  &__auth-icon {
    margin-right: 10px;
    fill: var(--secondary-text-color);

    transition: fill 250ms var(--time-delay);
    &:hover,
    &:focus {
      fill: var(--accent-text-color);
    }
  }
}

// .header__nav-list,
// .header__auth-list {
//   display: flex;
// }

.header__nav-list {
  display: flex;
  margin-left: 93px;
}

.header__auth-list {
  display: flex;
  margin-left: auto;
}

.header__nav-list .header__item:not(:last-child),
.header__auth-list .header__item:not(:last-child) {
  margin-right: 50px;
}

.heder__link-current {
  color: var(--accent-text-color);
}
.header__link-current::after {
  opacity: 1;
}

// .header__auth-link:hover,
// .header__auth-link:focus {
//   fill: var(--accent-text-color);
// }
