.hero {
    text-align: center;
    max-width: 1600px;
    margin: 0 auto;
    padding: 200px 0;
    background-color: var(--hero-background-color);
    background-image: var(--gradient), url(../images/hero-img.jpg);
}

.hero__overlay {
    width: 100%;
    max-width: 1600px;
}

.hero__title {
    display: inline-block;
    width: 700px;
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    color: var(--white-text-color);
}